
body::before {
  content: "";
  height: 60px;
  display: block;
  overflow: hidden;
}
.counter {
  border-radius: 30%;
  background-color: #fba354;
  padding: 0 5px;
  color: #fff;
  position: absolute;
  top: -.7rem;
  right: -.5rem;
}
.hero-section{
  position: relative;
  height: inherit;
  width: 100%;
  background: url("../images/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.hero-section::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 0;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  justify-content: center;
  height: calc(100vh - 95px);
  text-align: center;
}
.hero h1, .hero p{
  z-index: 1;
}

.img-container{
  position: relative;
  overflow: hidden;
}
.img-container img{
  border-radius: 3px;
}
.img-container::before{
  content: "";
  position: absolute;
  bottom: 0%; left: 0;
  width: 100%; height: 0%;
  background-color: rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  opacity: 1;
}
.img-container:hover::before{
  height: 100%;
  top: -0%;
  opacity: 1;
}
.custome-shopping-icon{
  background-color: #fba354;
  color: #fff;
  text-align: end;
  padding-right: 2rem;
  padding-left: .5rem;
  padding-top: .2rem;
  position: absolute;
  height: 2rem;
  bottom: .5rem; right: -100%;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.custome-shopping-icon:hover{
  color: #000;
}
.img-container:hover .custome-shopping-icon{
  right: 0;
}
.shopping-cart{
  position: fixed;
  right: -30rem; top: 84px;
  width: 30rem;
  height: 100%;
  z-index: 100;
  transition: all .5s ease-in-out;
  overflow-y: scroll;
}
.shopping-cart.active{
  width: 30rem;
  right: 0;
  opacity: 1;
}
.custome-xmark{
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.custome-xmark:hover{
  color: #ff0000  !important;
}
.custome-arrow{
  cursor: pointer;
}
.remove-key{
  cursor: pointer;
}
.remove-key:hover{
  color: #ff0000 !important;
}
.custome-arrow:hover{
  color: #fba354;
}
#cartIcon{
  cursor: pointer;
}
.shoppingItems{
  position: relative;
}
